.el-input + .el-input,
.el-textarea + .el-textarea,
.formkl-section_response + .formkl-section_response,
.formkl-field_response + .formkl-field_response {
  margin-top: 0.5rem;
}

.formkl-section_response__remover,
.formkl-field_response__remover {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.formkl-section__footer,
.formkl-field__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
